In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [4]:
con = sqlite3.connect("switrs.sqlite")

query = """
    SELECT * FROM collisions WHERE county_location = 'los angeles'
    """

df = pd.read_sql_query(query, con, parse_dates = ["collision_date"])

In [5]:
df

,case_id,jurisdiction,officer_id,reporting_district,chp_shift,population,county_city_location,county_location,special_condition,beat_type,...,bicyclist_injured_count,motorcyclist_killed_count,motorcyclist_injured_count,primary_ramp,secondary_ramp,latitude,longitude,collision_date,collision_time,process_date
0,0081715,1941,11342,212,not chp,>250000,1941,los angeles,0,not chp,...,0,0,0,None,None,NaN,NaN,2020-03-14,07:45:00,2020-06-22
1,3899442,9530,19005,None,0600 thru 1359,>250000,1942,los angeles,0,chp state highway,...,0,0,0,None,None,33.86465,-118.28533,2009-02-09,10:20:00,2010-01-14
2,3899445,9530,19284,None,1400 thru 2159,>250000,1942,los angeles,0,chp state highway,...,0,0,0,None,None,33.79120,-118.28230,2009-02-18,15:50:00,2010-01-13
3,3899446,9530,19289,None,1400 thru 2159,25000 to 50000,1939,los angeles,0,chp state highway,...,0,0,0,None,None,33.88450,-118.35260,2009-02-11,17:35:00,2010-01-11
4,3899449,9530,19374,None,1400 thru 2159,>250000,1941,los angeles,0,chp state highway,...,0,0,0,None,None,33.83197,-118.20906,2009-02-13,21:20:00,2009-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851920,7148381,1900,552714,1088,not chp,10000 to 25000,1995,los angeles,0,not chp,...,0,0,0,None,None,NaN,NaN,2015-12-16,15:30:00,2016-02-18
2851921,7154520,1942,40643,1177,not chp,>250000,1942,los angeles,0,not chp,...,0,0,0,None,None,NaN,NaN,2015-12-23,18:30:00,2016-01-12
2851922,7205180,9535,021148,None,2200 thru 0559,unincorporated,1900,los angeles,0,chp state highway,...,0,0,0,TO,None,34.03334,-118.18097,2015-12-28,04:04:00,2016-03-15
2851923,8005848,1900,600527,1122,not chp,100000 to 250000,1992,los angeles,0,not chp,...,0,0,0,None,None,NaN,NaN,2016-03-09,None,2016-03-24
2851924,8038020,9525,021156,None,1400 thru 2159,50000 to 100000,1990,los angeles,0,chp state highway,...,0,0,0,None,None,34.02730,-117.79989,2015-11-30,20:50:00,2016-05-23