In [2]:
import pandas as pd
import numpy as np
import sqlite3
import altair as alt
import matplotlib.pyplot as plt

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [ ]:
con = sqlite3.connect("switrs.sqlite")

query = """
    SELECT * FROM collisions WHERE county_location = 'los angeles' OR county_location = 'san diego'
    """

df = pd.read_sql_query(query, con, parse_dates = ["collision_date"])

dfc = df[["case_id", "county_location", "alcohol_involved", "collision_severity", "injured_victims", "collision_date", "collision_time"]]

:

In [ ]:
dfc["injured_victims"].value_counts()

injured_victims
0.0     1963384
1.0      996384
2.0      288660
3.0       90718
4.0       30425
5.0       10656
6.0        3802
7.0        1379
8.0         591
9.0         261
10.0        127
11.0         72
13.0         36
12.0         34
14.0         21
15.0         19
17.0          9
18.0          9
20.0          8
16.0          8
22.0          4
31.0          4
25.0          4
34.0          3
19.0          3
27.0          2
33.0          2
29.0          2
23.0          2
36.0          2
21.0          2
39.0          1
49.0          1
28.0          1
64.0          1
Name: count, dtype: int64

In [ ]:
counts, bins = np.histogram(dfc["injured_victims"])
plt.stairs(counts, bins)